{% extends "base.html" %}
{% block content %}
<h1>Книги</h1>
<p> Список книг. Со стилями можно поигратся, тут я так настряпал. Теперь я понял как подключать картинки к сайту </p>


<div class="card-group">
{% for content in contents %}
    <div class="card" style="width: 18rem;">
        <img src="{{ content['img'] }}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{ content["name_book"] }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}